* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background-image: url("./images/header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p,
.about {
    font-size: 5vw; /* Adjust the font size responsively */
    color: white;
    text-align: center; /* Center the text */
    margin: 100px 0; /* Add some margin for better spacing */
}

button {
    width: 250px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    margin-top: 40px; /* Adjust the top margin as needed */
    cursor: pointer;
    background: url("./images/play.png") center center/cover; /* Replace "your-image-path.jpg" with the path to your image */
     /* Set the text color to be visible against the background image */
    border: none;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    header{
        min-width:320px;
        height: 481px;
    }
    p,
    .about {
        font-size: 4vw; /* Adjust the font size for smaller screens */
    }

    button {
        width: 150px; /* Adjust the width for smaller screens */
        height: 150px; /* Adjust the height for smaller screens */
    }
}
